header(ng-controller="headerCtrl" ng-class="{'bg': $state.includes('team')}")
  .container
    .row
      .col-xs-12.col-xs-offset-1
        .navbar
          a.logo(ui-sref="project" ng-click="closeDialog()")
          a.type(ui-sref="project" ng-click="closeDialog()")
            |ОГНИ
            br
            |ЕВРАЗИИ
          .navbar-bento(ng-click="changeAction()" ng-class="{'active': toggle}")
            span
          .navbar-state(ng-bind="$state.current.data.title")
