extends layout

block content
  include ./includes/header.jade
  .wrapper(ui-view)
  script(type="text/ng-template" id="popup")
    .menu
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-sm-12.col-sm-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h1.menu-link
              a(ui-sref="project" ui-sref-active="active" ng-click="closeThisDialog()") ПРОЕКТ
            h1.menu-link
              a(ui-sref="processes" ui-sref-active="active" ng-click="closeThisDialog()") ПРОЦЕСС
            h1.menu-link
              a(ui-sref="online" ui-sref-active="active" ng-click="closeThisDialog()") ОНЛАЙН