doctype html
html(ng-app="test" ng-cloak)
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(name="viewport"    content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#ffffff")
    title Огни Евразии | {{$state.current.data.title}}
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/please-wait/0.0.5/please-wait.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.2.1/flickity.min.css')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel="icon"       sizes="192x192" href="favicon.png")
  body
    block content
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/please-wait/0.0.5/please-wait.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.2.1/flickity.pkgd.min.js")
    script(type="text/javascript").
      //preloader
      var loading_screen = pleaseWait({
        logo: "../images/logo.png",
        backgroundColor: '#f2f2f2'
      });
      document.addEventListener('DOMContentLoaded', function() {
        loading_screen.finish();
      });
    style.
      .pg-loading-logo {
        width: 120px;
      }
      .pg-loading-screen .pg-loading-html {
        color: #fff;
        margin: 0;
      }
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js")
    script(type="text/javascript" src="app.js")
    script(type="text/javascript" src="script.js")