.process
  .process-cover(back-img2="../images/cover/cover-test.jpg")
    .process-cover-center-title
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h1 Процесс
            h4 Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве
  .container
    .row
      .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
        article.process-list(ng-repeat="process in processes")
          p.date {{::process.date}}
          a(href="/process/{{::process.id}}")
            h3 {{::process.title}}
  .process-next