.process
  .process-cover(back-img2="{{::process.cover}}")
    .process-cover-title
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            p.date {{::process.date}}
            h1 {{::process.title}}
  .process-content
    .container
      .row
        .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
          article(ng-bind-html="process.content")
  .process-next-cover(back-img2="{{::process.nextCover}}" ng-if="process.nextId != false")
    a(href="/process/{{::process.nextId}}").process-next-cover-title
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            p.date {{::process.nextDate}}
            h1 {{::process.nextTitle}}