section
  #section1(back-img2="../images/cover/cover-test.jpg")
     a(href="#section2" du-smooth-scroll).section1-link
      span
  #section2
    .container
      .row
        .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
          h3 Огни евразии
          p Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве.
  #section3(back-img2="../images/cover/cover-section2.jpg")
    .section3-text
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h3 О проекте
            p Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве.
  #section4
    .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h3 Процесс
        .row
          .col-md-12.col-md-offset-1.col-lg-10.col-lg-offset-2
            .row
              a(href="").col-xs-14.col-sm-7.process-item
                .process-item-bg(back-img="../images/cover/cover-section2.jpg")
                  .process-item-text
                    p.date 9 июня 2016
                    h4 Легенда «Огненные брызги на воде» в двух строчках
              a(href="").col-xs-14.col-sm-7.process-item
                .process-item-bg(back-img="../images/cover/cover-section2.jpg")
                  .process-item-text
                    p.date 9 июня 2016
                    h4 Легенда «Огненные брызги на воде» в двух строчках
              a(href="").col-xs-14.col-sm-7.process-item
                .process-item-bg(back-img="../images/cover/cover-section2.jpg")
                  .process-item-text
                    p.date 9 июня 2016
                    h4 Легенда «Огненные брызги на воде» в двух строчках
              a(href="").col-xs-14.col-sm-7.process-item
                .process-item-bg(back-img="../images/cover/cover-section2.jpg")
                  .process-item-text
                    p.date 9 июня 2016
                    h4 Легенда «Огненные брызги на воде» в двух строчках
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            p Традиции незыблемы. Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве, стали местом поклонения божеству Джесегэй - так повелось издревле.
          .col-xs-10.col-xs-offset-2.col-lg-8.col-lg-offset-3
            blockquote.quote-left
              p Лучшие из лучших умельцев удостаивались чести варить здесь терпкий кумыс. Новорожденных жеребят пасли в укромной озерной пазухе со сладчайшей травой.
              footer Ариан Арианович
                cite Автор проекта
            blockquote.quote-top
              p Лучшие из лучших умельцев удостаивались чести варить здесь терпкий кумыс. Новорожденных жеребят пасли в укромной озерной пазухе со сладчайшей травой.
              footer Ариан Арианович
                cite Автор проекта
  #section5
    .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h3 Программа
            p В старину ценилось и почиталось это благодатное место у озерной глади. Очертания озера, его местоположение, глубина – всё задумала и сотворила природа так, чтобы оно стало для людей и животных источником жизни и благоденствия.
            p Традиции незыблемы. Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве, стали местом поклонения божеству Джесегэй - так повелось издревле.
  #section6(back-img2="../images/cover/cover-section2.jpg")
    .section3-text
      .container
        .row
          .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
            h3 Об участниках
            p Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве.
  #section7(ng-controller="flickityCtrl")
    .container
      .row
        .team(bc-flickity="{{ myCustomOptions }}")
          .team-slide
            .team-intro
              a.team-intro-link(href="/team/0")
                img.team-intro-img(data-ng-src="../images/cover/cover-test.jpg", alt="")
                .team-intro-text
                  p Ариан Арианович
                  p Автор проекта
          .team-slide
            .team-intro
              a.team-intro-link(href="/team/1")
                img.team-intro-img(data-ng-src="../images/cover/cover-test.jpg", alt="")
                .team-intro-text
                  p Ариан Арианович
                  p Автор проекта
          .team-slide
            .team-intro
              a.team-intro-link(href="/team/2")
                img.team-intro-img(data-ng-src="../images/cover/cover-test.jpg", alt="")
                .team-intro-text
                  p Ариан Арианович
                  p Автор проекта
footer.footer
  .container
    .row
      .col-xs-12.col-xs-offset-1.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-3.col-lg-6.col-lg-offset-4
        .footer-logotype
          a.logo(ui-sref="project" ng-click="closeDialog()")
          a.type(ui-sref="project" ng-click="closeDialog()")
            |ОГНИ
            br
            |ЕВРАЗИИ
    .row
      .col-xs-12.col-xs-offset-1.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-3.col-lg-6.col-lg-offset-4
        .footer-caption Зажжем вместе!
    .row
      .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
        .footer-item
          a.footer-social(href="" target="_blank" back-img="../images/icons-vk.svg" size="60%")
        .footer-item
          a.footer-social(href="" target="_blank" back-img="../images/icons-facebook.svg" size="60%")
        .footer-item
          a.footer-social(href="" target="_blank" back-img="../images/icons-instagram.svg" size="60%")
        .footer-item
          a.footer-social(href="" target="_blank" back-img="../images/icons-twitter.svg" size="60%")
        .footer-item
          a.footer-social(href="" target="_blank" back-img="../images/icons-youtube.svg" size="60%")
ul.indicators
  li
    a(href="#section1" du-smooth-scroll du-scrollspy)
      span
  li
    a(href="#section2" du-smooth-scroll du-scrollspy)
      span
  li
    a(href="#section3" du-smooth-scroll du-scrollspy)
      span
  li
    a(href="#section4" du-smooth-scroll du-scrollspy)
      span
  li
    a(href="#section5" du-smooth-scroll du-scrollspy)
      span
  li
    a(href="#section6" du-smooth-scroll du-scrollspy)
      span

