.team
  .team-intro
    .container
      .row
        .col-xs-12.col-xs-offset-1.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-3.col-lg-6.col-lg-offset-4
          img.team-intro-img(src="{{::people.cover}}", alt="")
          .team-intro-text
            p {{::people.name}}
            p {{::people.status}}
          p {{::people.intro}}
  .team-bio
    .container
      .row
        .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3(ng-bind-html="people.bio")
