html,
body
{
  font-size: 16px;

  height: 100%;

  color: #333;
}
html
{
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
::-moz-selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
::selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
header
{
  position: absolute;
  z-index: 10001;
  top: 0;
  left: 0;

  width: 100vw;
  height: 135px;
  &.bg
  {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .45098)), to(rgba(0, 0, 0, .45098))) center center / cover no-repeat, url('../images/cover/cover-test.jpg');
    background: -webkit-linear-gradient(rgba(0, 0, 0, .45098), rgba(0, 0, 0, .45098)) center center / cover no-repeat, url('../images/cover/cover-test.jpg');
    background:    -moz-linear-gradient(rgba(0, 0, 0, .45098), rgba(0, 0, 0, .45098)) center center / cover no-repeat, url('../images/cover/cover-test.jpg');
    background:      -o-linear-gradient(rgba(0, 0, 0, .45098), rgba(0, 0, 0, .45098)) center center / cover no-repeat, url('../images/cover/cover-test.jpg');
    background:         linear-gradient(rgba(0, 0, 0, .45098), rgba(0, 0, 0, .45098)) center center / cover no-repeat, url('../images/cover/cover-test.jpg');
  }
  .navbar
  {
    display: table;

    width: 100%;
    height: 62px;
    margin: 40px 0 0;
    &-state
    {
      font: 1.6875rem/2.222222222222222 'PFDinDisplayPro Regular', sans-serif; /* 27px/60px*/
      /* display: inline-block;*/

      float: right;

      margin: 0 28px 0 0;

      color: #fff;
    }
    &-bento
    {
      /* display: inline-block;*/
      float: right;

      margin: 0 17px 0 0;
      padding: 14px 0;

      cursor: pointer;
      vertical-align: middle;
      &.active
      {
        span
        {
          &:after
          {
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &:before
          {
            -webkit-transform: rotate(135deg);
               -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                 -o-transform: rotate(135deg);
                    transform: rotate(135deg);
          }
          &:hover
          {
            &:after,
            &:before
            {
              bottom: 14px;
            }
          }
        }
      }
      span
      {
        position: relative;

        display: block;

        width: 32px;
        height: 32px;

        will-change: transform, bottom;
        &:hover
        {
          &:after
          {
            bottom: 20px;
          }
          &:before
          {
            bottom: 8px;
          }
        }
        &:after,
        &:before
        {
          position: absolute;
          bottom: 14px;

          display: block;

          width: 32px;
          height: 4px;

          content: '';
          -webkit-transition: all 80ms ease-in-out;
             -moz-transition: all 80ms ease-in-out;
               -o-transition: all 80ms ease-in-out;
                  transition: all 80ms ease-in-out;

          background: #fff;
        }
      }
    }
  }
}
.footer
{
  padding: 240px 0 60px;

  text-align: center;

  color: #000;
  /* height: 740px;*/
  background: #fff;
  &-logotype
  {
    display: inline-block;
    .logo
    {
      width: 80px;
      height: 80px;
    }
    .type
    {
      font: 2.25rem/1.1666666666666666666666666666667 'PFDinDisplayPro Regular', sans-serif; /* 36px/42px*/

      text-align: left;

      color: #000;
    }
  }
  &-caption
  {
    font: 3.75rem/.6 'PT Serif', serif; /* 60px/36px*/

    padding: 80px 0 180px;
  }
  &-item
  {
    display: inline-block;

    width: 15%;
  }
  &-social
  {
    display: block;
    overflow: hidden;

    width: 55px;
    height: 55px;
    margin: 0 auto;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #a6adb0 !important;
    &:hover
    {
      background-color: #2d3889 !important;
    }
  }
}
.disable-hover,
.disable-hover *
{
  pointer-events: none !important;
}
.menu
{
  &-link
  {
    font-family: 'PFDinDisplayPro Regular', sans-serif;

    display: inline-block;

    width: 30%;
    &:nth-child(1)
    {
      text-align: left;
    }
    &:nth-child(2)
    {
      text-align: center;
    }
    &:nth-child(3)
    {
      text-align: right;
    }
    a
    {
      position: relative;

      text-decoration: none;

      color: #fff;
      &:hover:after,
      &.active:after
      {
        width: 70px;
      }
      &:after
      {
        position: absolute;
        bottom: -10px;
        left: 0;

        width: 0;
        height: 3px;

        content: '';
        -webkit-transition: width .1s ease-in-out;
           -moz-transition: width .1s ease-in-out;
             -o-transition: width .1s ease-in-out;
                transition: width .1s ease-in-out;

        background: #fff;

        will-change: width;
      }
    }
  }
}
#section1
{
  position: relative;

  width: 100%;
  height: 100vh;
  .section1-link
  {
    position: absolute;
    bottom: 80px;
    left: -webkit-calc(50% - 18px);
    left:    -moz-calc(50% - 18px);
    left:         calc(50% - 18px);

    width: 36px;
    height: 36px;

    -webkit-animation: bounce 2s infinite;
       -moz-animation: bounce 2s infinite;
         -o-animation: bounce 2s infinite;
            animation: bounce 2s infinite;
    span
    {
      position: relative;
      &:before,
      &:after
      {
        position: absolute;
        top: 16px;

        width: 24px;
        height: 4px;

        content: '';

        background: #fff;
      }
      &:before
      {
        left: -1px;

        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      &:after
      {
        left: 13px;

        -webkit-transform: rotate(135deg);
           -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
             -o-transform: rotate(135deg);
                transform: rotate(135deg);
      }
    }
  }
}
#section2
{
  padding: 120px 0 150px;

  text-align: center;
}
#section3,
#section6
{
  display: table;

  width: 100%;
  height: 560px;
  .section3-text
  {
    display: table-cell;

    text-align: center;
    vertical-align: middle;

    color: #fff;
  }
  h1,
  h2,
  h3,
  h4
  {
    color: #fff;
  }
}
#section4
{
  padding: 100px 0;
  .process-item
  {
    position: relative;

    display: block;

    margin: 0 0 20px;
    &:hover
    {
      .process-item-bg:after,
      .process-item-text
      {
        opacity: 1;
      }
    }
    &-bg
    {
      position: relative;

      width: 100%;
      /* height: 440px;*/
      height: 0;
      padding-bottom: 100%;
      &:after
      {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
        -webkit-transition: opacity .3s ease-in-out;
           -moz-transition: opacity .3s ease-in-out;
             -o-transition: opacity .3s ease-in-out;
                transition: opacity .3s ease-in-out;

        opacity: 0;
        background: rgba(0,0,0,.6);

        will-change: opacity;
      }
    }
    &-text
    {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 5%;

      width: 90%;

      -webkit-transition: opacity .3s ease-in-out;
         -moz-transition: opacity .3s ease-in-out;
           -o-transition: opacity .3s ease-in-out;
              transition: opacity .3s ease-in-out;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center;

      opacity: 0;
      color: #fff;

      will-change: opacity;
    }
  }
  h4
  {
    color: #fff;
    margin: 0;
  }
}
#section5
{
  margin: 0 0 150px;
}
.indicators
{
  position: fixed;
  z-index: 1;
  top: 50%;
  left: -webkit-calc(100vw - 60px);
  left:    -moz-calc(100vw - 60px);
  left:         calc(100vw - 60px);

  height: auto;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  li
  {
    padding: 0;
    &:before
    {
      margin: 0;

      content: '';
    }
    a
    {
      line-height: 30px;
      &.active
      {
        span
        {
          background: #fff;
          -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
             -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
                  box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
        }
      }
      span
      {
        display: inline-block;

        width: 15px;
        height: 15px;

        vertical-align: middle;

        border: 2px solid #fff;
        -webkit-border-radius: 100%;
           -moz-border-radius: 100%;
                border-radius: 100%;
        -webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,.25), 0 0 10px 1px rgba(0,0,0,.3);
           -moz-box-shadow: inset 0 0 10px 1px rgba(0,0,0,.25), 0 0 10px 1px rgba(0,0,0,.3);
                box-shadow: inset 0 0 10px 1px rgba(0,0,0,.25), 0 0 10px 1px rgba(0,0,0,.3);
      }
    }
  }
}
.logo
{
  float: left;

  width: 55px;
  height: 55px;
  margin: 0 18px 0 0;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: url(../favicon.png) center center no-repeat;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  /* background: #fff;*/
}
.type
{
  font: 1.5rem/1.166666666666667 'PFDinDisplayPro Regular', sans-serif; /* 24px/28px*/
  /* display: inline-block;*/

  float: left;

  padding: 1px 0;

  text-decoration: none;
  letter-spacing: .06rem;

  color: #fff;
}
@media (max-width: 739px)
{
  html
  {
    font-size: 14px;
  }
  header
  {
    .navbar
    {
      &-text
      {
        padding: 4px 0;
      }
    }
  }
  .menu-link
  {
    width: 100%;
    margin: 20px 0;

    text-align: left !important;
  }
  .navbar
  {
    &-state
    {
      display: none;
    }
  }
  .indicators
  {
    display: none;
  }
}
@media (max-width: 979px)
{
  .indicators
  {
    display: none;
  }
  .footer-item
  {
    width: 33%;
  }
}
