.process
{
  &-cover
  {
    position: relative;

    height: 520px;
    &-title
    {
      position: absolute;
      z-index: 1;
      bottom: 20px;

      width: 100%;
      h1,
      h2,
      h3,
      h4,
      p
      {
        color: #fff;
        margin-top: 0;
      }
    }
    &-center-title
    {
      position: absolute;
      top: 50%;

      width: 100%;

      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%);
      text-align: center;
      h1,
      h2,
      h3,
      h4,
      p
      {
        color: #fff;
      }
    }
  }
  &-content
  {
    padding: 80px 0 200px;
  }
  &-list
  {
    margin: 100px 0;

    text-align: center;
    a
    {
      text-decoration: none;

      color: #000;
    }
    h3
    {
      margin: 0;
    }
  }
  &-next-cover
  {
    position: relative;

    height: 320px;
    &-title
    {
      position: absolute;
      z-index: 1;
      top: 50%;

      width: 100%;

      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%);
      text-decoration: none;

      color: #fff;
      h1,
      h2,
      h3,
      h4,
      p
      {
        color: #fff;
        margin-top: 0;
      }
    }
  }
}
.online
{
  &-cover
  {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-top: 35px;
    padding-bottom: 56.25%;
    iframe
    {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: #000;
    }
  }
  &-content
  {
    padding: 80px 0 200px;
    &-title
    {
      margin: 20px 0 40px;
    }
    &-table
    {
      font: 1.125rem/1.555555555555556 'PT Serif', serif; /* 18px/28px*/

      margin: 0 0 60px;
      td
      {
        &:nth-child(1)
        {
          font-family: 'PFDinDisplayPro Medium', sans-serif;

          padding: 0 40px 22px 0;

          color: #2f2fff;
        }
      }
    }
  }
}
.team
{
  &-slide
  {
    width: 100%;
  }
  margin: 200px 0 0;
  &-intro
  {
    padding: 60px 0;

    text-align: center;
    &-link
    {
      text-decoration: none;
      color: #000;
    }
    &-img
    {
      overflow: hidden;

      width: 160px;
      height: 160px;
      margin: 0 0 40px;

      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
    }
    &-text
    {
      p
      {
        font: 1.25rem/1.3 'PFDinDisplayPro Regular', sans-serif;

        margin: 0;
        &:last-child
        {
          font: 1.125rem/1.444444444444444 'PFDinDisplayPro Regular', sans-serif;

          color: #404040;
        }
      }
    }
  }
}
