@font-face
{
  font-family: 'PFDinDisplayPro Medium';
  font-weight: 400;

  src: local('PFDinDisplayPro Medium'),
  url(/fonts/pfdindisplaypro-medium-webfont.woff) format('woff'),
  url(/fonts/pfdindisplaypro-medium-webfont.ttf) format('truetype'),
  url(/fonts/pfdindisplaypro-medium-webfont.eot) format('eot');
}
@font-face
{
  font-family: 'PFDinDisplayPro Regular';
  font-weight: 400;

  src: local('PFDinDisplayPro Regular'),
  url(/fonts/pfdindisplaypro-regular-webfont.woff) format('woff'),
  url(/fonts/pfdindisplaypro-regular-webfont.ttf) format('truetype'),
  url(/fonts/pfdindisplaypro-regular-webfont.eot) format('eot');
}
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700&subset=latin,cyrillic);
h1,
.h1
{
  font: 2.625rem/1.142857142857143 'PFDinDisplayPro Medium', sans-serif; /* 42px/48px*/

  margin: 40px 0;

  color: #000;
}
h2,
.h2
{
  font: 2rem/1.125 'PFDinDisplayPro Medium', sans-serif; /* 32px/36px*/

  margin: 40px 0;

  color: #000;
}
h3,
.h3
{
  font: 1.75rem/1.142857142857143 'PFDinDisplayPro Medium', sans-serif; /* 28px/32px*/

  margin: 40px 0;

  color: #000;
}
h4,
.h4
{
  font: 1.5rem/1.166666666666667 'PFDinDisplayPro Medium', sans-serif; /* 24px/28px*/

  margin: 40px 0;

  color: #000;
}
p,
ul,
blockquote
{
  font: 1.125rem/1.555555555555556 'PT Serif', serif; /* 18px/28px*/
}
blockquote
{
  margin: 40px 0;
  padding: 10px 0 10px 50px;

  border-left: 5px solid #c5c6c9;
  p:last-child
  {
    margin: 0;
  }
  &.quote-left
  {
    &:before
    {
      top: -15px;
      left: -50px;
    }
    footer
    {
      position: absolute;
      right: 0;

      -webkit-transform: translateX(-75%);
         -moz-transform: translateX(-75%);
          -ms-transform: translateX(-75%);
           -o-transform: translateX(-75%);
              transform: translateX(-75%);
      text-align: right;
      text-align: left;
    }
  }
  &.quote-top
  {
    text-align: center;
    &:before
    {
      top: -50px;
    }
  }
  &.quote-left,
  &.quote-top
  {
    position: relative;

    margin: 150px 0;
    padding: 10px 0;

    color: #404040;
    border: none;
    &:before
    {
      font: italic 6.25rem 'PT Serif', serif;

      position: absolute;

      content: '“';
      -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    p
    {
      font: italic 1.5rem/1.5 'PT Serif', serif; /* 24px/36px*/
    }
    footer
    {
      font: 1.25rem/1.3 'PFDinDisplayPro Regular', sans-serif; /* 20px/26px*/

      color: #000;
      cite
      {
        font: 1.125rem/1.444444444444444 'PFDinDisplayPro Regular', sans-serif; /* 18px/26px*/

        display: block;

        color: #404040;
      }
    }
  }
}
ul
{
  margin: 40px 0;
  li
  {
    padding: 0 0 12px;
    &:before
    {
      margin: 0 15px 0 0;

      content: '●';
    }
    &:last-child
    {
      padding: 0;
    }
  }
}
b,
strong
{
  font-weight: 700;
}
i,
em
{
  font-style: italic;
}
p,
.paragraph
{
  margin: 20px 0;
  &.date
  {
    font: 1.375rem/1.090909090909091 'PFDinDisplayPro Regular', sans-serif; /*22px/24px*/

    margin: 0;
  }
  a
  {
    display: inline-block;

    text-decoration: none;

    color: #2d3889;
    &:hover
    {
      text-decoration: underline;
    }
  }
}
img
{
  &.img-responsive
  {
    width: 100%;
    margin: 60px auto;
  }
}
