/* bootstrap variables*/
$grid-columns: 14 !default;
$screen-sm: 740px !default;
$screen-md: 980px !default;
$screen-lg: 1220px !default;
$grid-gutter-width: 20px !default;
$container-tablet: (680px + $grid-gutter-width) !default;
$container-desktop: (920px + $grid-gutter-width) !default;
$container-large-desktop: (1160px + $grid-gutter-width) !default;
