@import '../../node_modules/reset.scss/reset';
@import '../../node_modules/ng-dialog/css/ngDialog.min';
@import '../../node_modules/ng-dialog/css/ngDialog-theme-default.min';

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/center-block';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-vertical-align';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/opacity';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

.ngdialog.ngdialog-theme-default
{
  display: table;

  width: 100%;
  height: 100%;
  padding: 0;
  .ngdialog-content
  {
    display: table-cell;

    width: 100%;

    vertical-align: middle;

    background: transparent;
  }
  .ngdialog-close
  {
    display: none;
  }
}
.ngdialog-overlay
{
  background: rgba(0,0,0,.7);
}
